@import "../../../../styles/variables.scss";

.linksContainer {
  display: flex;
  margin: auto;
  justify-content: center;
}

.link {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
  width: 150px;
  padding: 5px;
  margin: 1rem;
  border-radius: 6px;
  text-align: center;
  border: 1px solid grey;
  box-shadow: $main-blue 0 0 4px;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.06rem;
  cursor: pointer;
  background-color: white;
  justify-content: center;
  color: black;
  transition: 350ms;
}

.link:hover {
  transition: 350ms;
  color: $main-blue;
  border: 1px solid $main-blue;
  box-shadow: $main-blue 0 0 7px;
}
