.bookOption {
  display: inline;
  text-align: center;
  height: 70px;
}

.cover {
  float: left;
  margin: auto;
  width: 42px;
  height: 55px;
  border-radius: 5%;
  box-shadow: gray 0 0 7px;
  margin-left: 5%;
  margin-right: 10%;
}

.title {
  float: center;
  width: 175px;
  border: 1px solid gray;
  padding: 4px;
  font-family: "Lato", sans-serif;
  overflow: auto;
  text-align: center;
  resize: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: default;
  box-shadow: gray 0 0 4px;
  font-size: 0.75rem;
  margin-top: 4px;
}
