@import "../../../styles/variables.scss";

.container {
  margin-top: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.header {
  font-size: 1.75rem;
  color: $main-blue;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  margin: auto;
  justify-content: center;
}
