@import "../../../styles/variables.scss";

.container {
  margin-top: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.header {
  font-size: 1.75rem;
  color: $main-blue;
}

.projectsContainer {
  margin: auto;
}

@media only screen and (min-width: 890px) {
  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: center;
  }
}
